:root {
  --green-color: #00a65a;
  --primary-text-color: #fed100;
  --primary-link-color: #288ad6;
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --default-color: #ddd;
  --hv-primary-btn: #5c7918;
  --text-color: #333;
  --active-color: #288ad6;
  --star-color: #fb6e2e;
  --danger-color: #dc3545;
  --dark-color: #343a40
}
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: auto !important;
}

a {
  text-decoration: none;
  display: flex;
  align-items: center;
}
.app {
  font-size: 62.5%;
  line-height: 1.6rem;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.category_page-wrapper {
  min-height: 100vh;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.d-flex {
  display: flex;
}
.my-2 {
  margin-top: 2rem;
}
.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.error-input {
  border: 1px solid red !important;
}

.error-text {
  margin-left: 0.4rem;
  font-size: 0.8rem;
  color: red;
  line-height: 100%;
}

.w-100 {
  width: 100%;
}

p,
h2 {
  margin: 0;
  padding: 0;
}
ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

.carousel {
  height: 300px !important;
}

.flickity-viewport {
  height: 100% !important;
}
.flickity-button {
  top: 45% !important;
}

a,
a:hover {
  text-decoration: none;
  color: #333;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-bottom: 5px solid #fff;
}

.option_filter-item {
  min-width: 120px;
}

.option_fiter-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  margin: 0;
}

.lowercase {
  text-transform: lowercase;
}

.bd-blur {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.bd-b-blur {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.bd-blue {
  border: 1px solid var(--primary-link-color) !important;
}
.cl-white {
  color: white !important;
}
.cl-blue {
  color: var(--primary-link-color) !important;
}
.cl-star {
  color: var(--star-color) !important;
}
.ml-1 {
  margin-left: 0.5rem;
}
.ml-2 {
  margin-left: 1rem;
}
.bd-r-1 {
  border-radius: 5px;
}
.bd-r-2 {
  border-radius: 10px;
}
.fw-b {
  font-weight: 700 !important;
}
.w-100 {
  width: 100%;
}
.w-50p {
  width: 50px;
}
.w-100p {
  width: 100px;
}
.mw-8 {
  max-width: 80px;
}
.bd-blur-1 {
  border: 1px solid rgba(0, 0, 0, 0.2) ; 
}

.cl-red {
  color: rgb(245, 105, 105);
}

.preview_image {
  width: 100px;
  object-fit: contain;
  margin: 0 .8rem;
}

.rt-180 {
  transform: rotate(-180deg);
}

.Toastify {
  font-size: 1rem;
}

.pay-done,.pay-none {
  font-weight: 700;
  font-style: italic;
}

.container {
  min-height: 100vh;
}