.config_password {
    background-color: #fff;
    padding: 3rem 0;

    h2 {
        text-align: center;
    }

    .container {
        min-height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        label {
            font-size: 1rem;
        }

        input {
            border: 1px solid rgba(0, 0, 0, 0.1);
            outline: none;
            width: 600px;
            padding: .4rem 1rem;
            font-size: 1rem;
            border-radius: 10px;
        }

        input:focus {
            border: 1px solid rgba(0, 0, 0, 0.5);
        }
        
        .form_button {
            margin-top: 2rem;
        }

        button {
            width: 200px;
        }
    }
}